@import url('https://fonts.googleapis.com/css?family=Gaegu');

body {
    font-family: 'Gaegu',
    cursive;
    font-size: 20px;
    border-style: inset;
    height: 100%;
}
article{
    margin-top:1%; 
    margin-bottom:0;
}
#box{
    border-radius: 10px;
    border-style: inset;
    padding: 5px;
    width:50%;
    background-color:white; 
}
.header{
    margin-bottom:10%;
}
.clock{
    font-size:15px;
}
.sub{
    font-size:15px;
    margin-bottom: 5%;
}
.start{
    border-style: solid;
    width:35%;
    padding: 10% 5%;
    border-radius: 50%;
    margin-bottom: 10%;
    font-weight:bold;
    border-color:blue;
    margin-top:1%;   
}
.subs{
    font-size:15px;
}
.reset{
    margin-bottom: 10px;
}
